.jumbotron{
    background-image:url('boats-at-anchor edit.jpg');
    background-size:cover;
    background-position:center center;
}

body{
    padding:50px;
}

.feature{
    text-align:center
}
.feature .glyphicon{
    font-size:300%
}
  
.feature .glyphicon-apple{
    color:#ff0000
}
.feature .glyphicon-fast-forward{
    color:#11be0a
}
.feature .glyphicon-camera{
    color:#165ad3
}

#getMoney{
    font-size:200%;
    font-style:italic;
}

h3{
    font-style:italic;
}

.input-group{
    font-size:400%;
}
main{
    background-color:#eaeaea;
   
}
.banner{
    float:left;
    background-size:cover;
    background-position:center center;
    font-size:300%;    
}

#dinner{
    float:right;
    font-size:250%;
    color:#d92121
}